school/schoolDAO/src/test/resources/school-dataset.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT dataset (CONTACT*, STUDENT*)>
<!ELEMENT CONTACT (EMPTY)>
<!ATTLIST CONTACT
    ID CDATA #REQUIRED
    FIRST_NAME CDATA #REQUIRED
    MIDDLE_INITIAL CDATA #IMPLIED
    LAST_NAME CDATA #REQUIRED
>
<!ELEMENT STUDENT (EMPTY)>
<!ATTLIST STUDENT
    ID CDATA #REQUIRED
    MAJOR CDATA #IMPLIED
>